*, *::before, *::after {
    box-sizing: border-box;    
}
body {
    margin: auto;
    padding: 0;
    font-family: "Exo", sans-serif;
    background-color: #202020;
    color: #202020;
}

/*typography and layout*/

#header {
    margin: 0 auto;
    max-width: 320px;
    height: 140px;
    margin-bottom: 1.25em;
    padding-bottom: 1.5em;
    text-align: center;
}

#header, #colors {
    background-color: rgba(128, 128, 128, 0.2);
}

h1 {
    margin-top: 0.2em;
    margin-bottom: 0;
}

#header-txt {
    border: blue 1px dashed;
    padding: auto 1.25em 1.25em 1.25em;
    
}

p {
    margin: 1px;
}

#colors {
    margin: auto;
    max-width: 320px;
    height: 550px;
    display: grid;
    grid-template-areas: 
            "main main main main main"
            "dis1 dis2 dis3 dis4 dis5"
            "ftr1 ftr2 ftr3 ftr4 ftr5";
}

main {
    grid-area: main;
    /*max-width: 320px;*/
    height: 160px;
}

.color-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seed-color,
select,
button {
    cursor: pointer;
    font-family: "Exo", sans-serif;
    margin: 0.625em;
}

#seed-color, button {
    width: 90px;
}

select {
    width: 220px;
    text-align: center;
}

/*label[for="select-menu"] {
    visibility: hidden;
}*/

.color-display,
.hex-footer {
    position: relative;
    max-width: 64px;
}

.color-display {
    height: 340px;
    border: red 1px dashed;
}

.hex-footer {
    height: 45px;
    text-align: center;
    border: green 1px dashed;
}

#hex-value {
    cursor: pointer; 
}

/*grid areas*/

#dis1 {
    grid-area: dis1;
    background-color: #22bc17;
}
#dis2 {
    grid-area: dis2;
    background-color:#17C23F
}
#dis3 {
    grid-area: dis3;
    background-color:#16c775;
}
#dis4 {
    grid-area: dis4;
    background-color:#15cdaf;
}
#dis5 {
    grid-area: dis5;
    background-color:#15B9D3;
}

#ftr1 {
    grid-area: ftr1;
}
#ftr2 {
    grid-area: ftr2;
}
#ftr3 {
    grid-area: ftr3;
}
#ftr4 {
    grid-area: ftr4;
}
#ftr5 {
    grid-area: ftr5;
}

/*hover effects*/

#hex-value:hover {
    scale: 1.05;
    z-index: 10;
}

/*tooltip styling*/

.tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.3125em 0;
    position: absolute;
    z-index: 1;
    bottom: 102%; /* Positions the tooltip above the text */
    left: 50%;
    margin-left: -3.125em;
    opacity: 0.8;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -0.3125em;
  border-width: 0.3125em;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/*explanation modal*/

#exp-modal {
    display: visible;
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: -20em;
    bottom: 0;
    margin: auto;
    height: 400px;
    max-width: 300px;
    background-color: #f8f8f8;
    border-radius: 5px;
    text-align: center;
}

#exp-modal p {
    margin: 1em;
}

@media(min-width: 768px) {
    #colors {
        max-width: 550px;
    }

    main {
        height: 90px;
    }
    
#header {
        max-width: 550px;
    }

    #header p {
        margin: 0 0.4em;
    }

    .color-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        padding: 20px 24px;
    }

    #seed-color,
    select,
    button {
        height: 40px; 
    }

    main,
    .color-display,
    .hex-footer {
        max-width: 550px;
    }

    .color-display {
        height: 415px;
    }
}